.banner {
    margin: 60px 0px;
    .container {
        .row {
            width: 100% !important;
            margin: 0;
            .col-lg-6 {
                padding: 0;
                .banner-pic {
                    padding: 0px 5px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}