@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}