.footer {
    background: $mainColor;

    @media (max-width:575px) {
        .container {
            .row {
                padding: 0px 20px;
            }
        }
    }

    .container {
        .row {
            width: 100%;

            .col-lg-3 {
                padding: 0 !important;

                .card {
                    border: none;
                    background: none;

                    .header-logo {
                        @include logo;

                        span {
                            font-size: 18px;
                            margin-left: 12px;
                        }
                    }

                    ul {
                        .heading {
                            font-size: 15px;
                            font-weight: 700;
                        }

                        .text {
                            font-family: 'Manrope';
                        }
                    }
                }
            }

            .col-lg-6 {
                display: flex;
                justify-content: center;
                padding: 0 !important;

                @media (max-width:992px) {
                    justify-content: start;
                }

                .card {
                    border: none;
                    background: none;
                    font-family: 'Manrope';

                    .heading {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                    }

                    ul {

                        .text {
                            font-weight: 300;
                            font-size: 11.5px;
                        }
                    }

                    .input-section {
                        display: flex;
                        align-items: center;

                        @media (max-width:350px) {
                            flex-direction: column;
                            justify-content: start;
                        }

                        input {
                            background: transparent;
                            border: 1px solid #fff;
                            color: $footerInputColor;
                            padding: 10px 15px;
                            font-size: 14px;
                            border-radius: 10px;

                            &:focus {
                                outline: none;
                            }
                        }

                        button {
                            color: #000;
                            border: none;
                            border-radius: 10px;
                            padding: 11px;
                            font-size: 13px;
                            font-weight: 700;
                        }
                    }
                }
            }

            .useful-links {
                .card {
                    .heading {
                        font-size: 16px;
                        font-weight: 700;
                        font-family: 'Manrope';
                    }

                    ul {

                        .text {
                            font-family: 'Manrope';
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}