@mixin logo {
    display: flex;
    align-items: center;
    padding: 5px 0px;

    a {
        text-decoration: none;

        img {
            width: 32px;
            height: 33px;
        }
    }

    span {
        font-family: "Quicksand" !important;
        font-weight: 600;
        font-size: 28px;
        margin-left: 20px;
    }
}

@mixin card {
    margin-bottom: 20px;

    @media (max-width:992px) {
        padding: 0;
    }

    .card {
        height: 261.34px;
        background: transparent;
        border: none;

        @media (max-width:992px) {
            height: auto !important;

            .text {
                h4 {
                    font-size: 27px !important;
                }

                span {
                    font-size: 20px;
                }
            }
        }

        .img-section {
            img {
                width: 100%;
            }
        }

        .text {
            h4 {
                font-weight: 700 !important;
                font-size: 20px;
                margin-top: 5px !important;
            }
        }
    }
}