.navbar {
    background: #fff;
    padding: 20px 0px;
    display: none;
    @media (min-width:992px) {
        display: none !important; 
    }

    .container {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            li {
                width: 90% !important;
                border-bottom: 1px solid #000;
                display: flex;
                justify-content: center;

                a {
                    color: #000;
                    font-family: 'Manrope';
                    font-size: 20px;
                    line-height: 50px;
                }
            }
        }
    }

    &.selected {
        display: flex;
    }
}