.product-info {
    margin: 80px 0px;

    .product-name {
        .container {
            .card {
                display: flex;
                flex-direction: row;
                padding: 0px 160px;

                @media (max-width:992px) {
                    flex-direction: column;
                    padding: 0;
                }

                .card-image {
                    width: 50%;

                    img {
                        width: 90%;

                        @media (max-width:992px) {
                            width: 100%;
                        }
                    }

                    @media (max-width:992px) {
                        margin: auto;
                    }
                }

                .card-text {
                    width: 50%;

                    @media (max-width:992px) {
                        margin: auto;
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 50px;
                    }

                    .costs {
                        font-weight: 400;
                        font-size: 26px;
                        text-decoration: underline;
                        color: #000;
                    }

                    p {
                        color: $productTextColor;
                    }

                    button {
                        background: $orangeButtonColor;
                        border-radius: 10px;
                        padding: 15px 45px;
                        color: #fff;
                        border: none;
                        margin: 10px 0px;
                    }
                }
            }
        }
    }
}

.description-info {
    .container {
        .row {
            display: flex;
            justify-content: center;
            align-items: center;

            .col-lg-4 {
                @media (max-width:992px) {
                    padding: 0;
                }

                .card {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    ul {
                        gap: 40px;

                        li {
                            font-weight: 700;
                            font-size: 18px;

                            a {
                                color: $productTextColor;

                                &.active {
                                    color: #000;
                                }
                            }
                        }
                    }

                    hr {
                        width: 80%;
                    }
                }
            }
        }
    }
}

.product-description {
    margin-bottom: 150px;

    .container {
        h3 {
            font-weight: 700;
            font-size: 30px;
        }

        p {
            max-width: 433px;
            font-weight: 400;
            font-size: 14px;
            color: #989898;
        }

        .footer-h3 {
            font-weight: 700;
            font-size: 22px;
        }

        .footer-text {
            color: #989898;
        }
    }
}

.related-searches {
    margin: 60px 0px;

    .container {
        .header {
            margin: 40px 0px;
            display: flex;
            justify-content: center;

            h3 {
                font-weight: 700;
                font-size: 35px;
                max-width: 296px;
                border-bottom: 3px solid $mainColor;
            }
        }

        .row {
            @media (max-width:992px) {
                .col-lg-3 {
                    margin: auto;
                    padding: 0;
                }
            }

            .col-lg-3 {
                .card-image {
                    img {
                        width: 100%;
                    }
                }

                .card-text {
                    @media (max-width:992px) {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}